.main-part-row {
    display: flex;
    flex-direction: row;
    padding: 45px 0 0px 0;
    justify-content: space-around;
}

.min-item-img {
    display: flex;
    flex-direction: column;
}

.min-item-img .img-min {
    margin-bottom: 20px;
}

.max-item-img {
    display: flex;
    flex-direction: column;
}

/* ------------------------------ info-side ----------------------------- */

.info-side {
    display: flex;
    flex-direction: column;
    width: 34%;
}

.subhead {
    width: 100%;
    margin-bottom: 10px;
}

.subhead p {
    font-size: 15px;
    color: #0D057F;
    font-weight: 600;
}

.slider-dot {
    display: none;
}

.subhead-2 {
    display: flex;
    justify-content: space-between;
}

.subhead-2 .product-name h1 {
    font-size: 30px;
    font-weight: 600;
    color: #0D057F;
    line-height: 40px;
}

.price-strike {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}

.price-strike .old-price {
    font-size: 24px;
    text-decoration-line: line-through;
    color: #EB5757;
    opacity: 0.5;
}

.price-strike .product-price {
    font-size: 26px;
    color: #0D057F;
    font-weight: 600;
    opacity: 1;
}

.more-price-info {
    margin-bottom: 32px;
}

.more-price-info p {
    font-size: 12px;
    line-height: 18px;
    color: #979797;
}

.quantity-and-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 65px;
}

.quantity {
    display: flex;
    flex-direction: column;
    height: 75px;
    justify-content: space-between;
}

.quantity h3 {
    font-size: 14px;
    color: #0D057F;
    font-weight: 600;
}

.quantity-input {
    width: 118px;
    border: 2px solid #0D057F;
    text-align: center;
    padding: 9px 0 9px 0;
}

.quantity-input a {
    color: #0D057F;
    line-height: 0;
    font-size: 14px;
    cursor: default;
}

.quantity-input a::before {
    content: url(../images/quantity_minus.png);
    position: relative;
    top: -3px;
    right: 40px;
}

.quantity-input a::after {
    content: url(../images/quantity_plus.png);
    position: relative;
    top: -1px;
    left: 38px;
}

.button-add-product {
    display: flex;
    height: 64px;
}

.button-add-product a {
    width: 317px;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 3px solid #B09DD5;
    padding: 20px 0px 0px 0px;
    transform-style: preserve-3d;
}
    
    .button-add-product a::after {
    content: '';
    width: 323px;
    height: 64px;
    background-color: #0D057F;
    position: absolute;
    display: block;
    top: 5px;
    right: 5px;
    transform: translateZ(-1px);
}

.free-delivery {
    display: none;
}

.product-description p {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #515151;
    margin-bottom: 30px;
}

.detail-dropdowns {
    display: flex;
    flex-direction: column;
}

.detail-dropdowns div {
    padding: 14px 0;
    display: flex;
}

.detail-dropdowns p {
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    color: #515151;
    opacity: 0.5;
}

.benefits {
    border-top: 1px solid #BDBDBDFF;
    border-bottom: 1px solid #BDBDBDFF;
}

.ingredients {
    border-bottom: 1px solid #BDBDBDFF;
}

.f-b-results {
    border-bottom: 1px solid #BDBDBDFF;
}

.benefits::after {
    content: url(../images/dropdowns-plus.png);
    position: relative;
    left: 78%;
    top: 5px;
}

.ingredients::after {
    content: url(../images/dropdowns-plus.png);
    position: relative;
    left: 72%;
    top: 5px;
}

.f-b-results::after {
    content: url(../images/dropdowns-plus.png);
    position: relative;
    left: 63%;
    top: 5px;
}

.pairing {
    padding-top: 42px;
}

.pairing h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    color: #0D057F;
}

.pairing-column {
    display: flex;
    flex-direction: column;
    padding: 20px 0 0 0;
}

.pairing-block {
    display: flex;
    justify-content: space-between;
    padding: 17px 0;
    border-bottom: 1px solid #BDBDBDFF;
}

.start-side {
    width: 22%;
}

.medium-side {
    width: 59%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.m-s-headline {
    margin-top: 14px;
}

.m-s-headline p {
    font-weight: 600;
    font-size: 14px;
    color: #0D057F;
}

.selectores {
    display: flex;
}

.selectores p {
    font-size: 12px;
    line-height: 16px;
    color: rgba(81, 81, 81, 0.6);
    font-weight: 600;
    margin-left: 10px;
}

.slct-1 p::after {
    content: url(../images/slct-arrow.png);
    position: relative;
    left: 34px;
    top: 2px;
}

.slct-2 p::after {
    content: url(../images/slct-arrow.png);
    position: relative;
    left: 49px;
    top: 2px;
}

.slct-1 {
    width: 132px;
    padding: 9px 0;
    border: 1px solid #ABABABFF;
    margin-right: 10px;
}

.slct-2 {
    width: 132px;
    padding: 9px 0;
    border: 1px solid #ABABABFF;
}

.end-side {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#old-price-prn-blck, #product-price-prn-blck {
    font-size: 14px;
}

.btn-add {
    display: flex;
}

.btn-add a {
    width: 68px;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 2px solid #B09DD5;
    padding: 10px 0px 6px 0px;
    margin-bottom: 6px;
    transform-style: preserve-3d;
}
    
.btn-add a::after {
    content: '';
    width: 72px;
    height: 39px;
    background-color: #0D057F;
    position: absolute;
    display: block;
    top: 4px;
    right: 3px;
    transform: translateZ(-1px);
}

/* ---------------------------------- upsell-items ------------------------- */

.upsell-items {
    padding-bottom: 90px;
}

.upsell-items-row {
    display: flex;
    justify-content: center;
}

.main-upsell-items {
    width: 91%;
    display: flex;
    flex-direction: column;
    border: 4px solid #729BD9;
    padding: 80px 0 60px 0;
    transform-style: preserve-3d;
}

.usell-item-headline {
    width: 100%;
    text-align: center;
    margin-bottom: 60px;
}

.usell-item-headline h3 {
    font-weight: 700;
    font-size: 30px;
    color: #0D057F
}

.featured-products-row {
    justify-content: space-around;
    display: flex;
}

.product-tile {
    margin: 0% 0% 0% 0%;
    height: 334px;
}

.item-img img {
    width: 260px;
}

.item-p {
    padding: 14px 0 0 0;
    background-color: #F8F7FBFF;
}

.main-upsell-items::after {
    content: '';
    width: 1318px;
    height: 571px;
    background-color: #F8F7FBFF;
    position: absolute;
    display: block;
    top: 15px;
    right: 15px;
    transform: translateZ(-1px);
}

/* --------------------------------- adaptive -------------------------------- */

/* ---------------------------- 1367px ------------------------------------ */

@media screen and (max-width:1367px) {
    .main-upsell-items::after {
        content: '';
        width: 1253px;
    }
}

/* ---------------------------- 1025px ------------------------------------ */

@media screen and (max-width:1025px) {
    .img-max img {
        width: 430px;
    }
    
    .info-side {
        width: 47%;
    }

    .item-img img {
        width: 181px;
    }

    .product-tile {
        height: 243px;
    }

    .main-upsell-items::after {
        display: none;
    }

    .main-upsell-items {
        background-color: #F8F7FBFF;
    }
}

/* ---------------------------- 824px ------------------------------------ */

@media screen and (max-width: 824px) {
    .img-max img {
        width: 330px;
    }

    .button-add-product a {
        width: 220px;
    }

    .button-add-product a::after {
        width: 225px;
    }

    .start-side img {
        width: 85px;
    }

    .btn-add a {
        width: 50px;
    }

    .btn-add a::after {
        width: 54px;
    }

    .m-s-headline p {
        font-weight: 600;
        font-size: 10px;
    }

    .selectores p {
        font-size: 9px;
        line-height: 12px;
        margin-left: 2px;
    }

    .slct-1 {
        width: 117px;
    }

    .medium-side {
        width: 54%;
    }

    .slct-1 p::after {
        left: 17px;
    }

    .slct-2 p::after {
        left: 36px;
    }

    .benefits::after {
        left: 70%;
    }

    .ingredients::after {
        left: 63%;
    }

    .f-b-results::after {
        left: 52%;
    }  
    
    .item-img img {
        width: 150px;
    }

    .item-img {
        width: 150px;
    }

    .start-block {
        width: 150px;
    }

    .name-product {
        font-size: 11px;
    }

    .product-tile {
        height: 205px;
    }

    .main-upsell-items {
        padding: 50px 0 50px 0;
    }
}

/* ---------------------------- 813px --------------------------------- */

@media screen and (max-width: 813px) {

}


/* ---------------------------- 769px ------------------------------------ */

@media screen and (max-width:769px) {
    .img-max img {
        width: 280px;
    }
    
    .button-add-product a {
        width: 175px;
    }

    .button-add-product a::after {
        width: 181px;
    }

    .ingredients::after {
        left: 62%;
    }

    .f-b-results::after {
        left: 50%;
    }
}

/* ---------------------------- 737px ------------------------------------ */

@media screen and (max-width:737px) {
    .img-max img {
        width: 265px;
    }   
}

/* ---------------------------- 721px ------------------------------------ */

@media screen and (max-width:721px) {
    .img-max img {
        width: 200px;
    }
    
    .btn-add a::after {
        width: 50px;
    }
    
    .item-img img {
        width: 130px;
    }

    .item-img {
        width: 130px;
    }

    .start-block {
        width: 130px;
    }

    .product-tile {
        height: 195px;
    }
}

/* ---------------------------- 668px ------------------------------------ */

@media screen and (max-width:668px) {
    .button-add-product a {
        width: 150px;
    }

    .button-add-product a::after {
        width: 155px;
    }

    .benefits::after {
        left: 63%;
    }

    .ingredients::after {
        left: 54%;
    }
    
    .f-b-results::after {
        left: 41%;
    }

    .product-description p {
        font-size: 15px;
    }

    .slct-1 p::after {
        left: 6px;
    }

    .slct-2 p::after {
        left: 21px;
    }

    .btn-add a::after {
        width: 47px;
    }
}

/* ---------------------------- 654px ------------------------------------ */

@media screen and (max-width:654px) {
    .img-max img {
        width: 220px;
    }
}

/* ---------------------------- 641px ------------------------------------ */

@media screen and (max-width:641px) {
    .f-b-results::after {
        left: 40%;
    }

    .btn-add a::after {
        width: 44px;
    }
}

/* ---------------------------- 569px ------------------------------------ */

@media screen and (max-width:569px) {
    .min-item-img {
        display: none;
    }

    .main-part-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 0 0px 0;
    }

    .img-max {
        display: flex;
        justify-content: center;
    }

    .img-max img {
        width: 85%;
    }

    #img-max-2, #img-max-3, #img-max-4 {
        display: none;
    }

    .info-side {
        width: 85%;
    }

    .subhead {
        display: none;
    }

    .slider-dot {
        display: flex;
        justify-content: center;
        padding-bottom: 25px;
    }

    .slider-dot img {
        padding: 0 5px;
    }

    .subhead-2 br {
        display: none;
    }

    .more-price-info {
        margin-bottom: 32px;
        width: 50%;
        margin-top: -7px;
    }

    .price-strike {
        justify-content: space-between;
        height: 50px;
    }

    .quantity-and-button {
        flex-direction: column;
        margin-bottom: 27px;
    }

    .button-add-product {
        align-self: center;
    }

    .button-add-product a {
        width: 430px;
    }

    .button-add-product a::after {
        width: 435px;
    }

    .quantity {
        margin-bottom: 20px;
    }

    .free-delivery {
        display: flex;
        margin-bottom: 40px;
        justify-content: center;
    }

    .free-delivery a {
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        color: #0D057F;
    }

    .free-delivery a::before {
        content: url(../images/delivery.png);
        position: relative;
        top: 2px;
        right: 7px;
    }

    .benefits::after {
        left: 77%;
    }

    .ingredients::after {
        left: 71%;
    }

    .f-b-results::after {
        left: 62%;
    }

    .pairing {
        padding-top: 80px;
    }

    .m-s-headline p {
        font-weight: 600;
        font-size: 14px;
    }

    .start-side img {
        width: 95px;
    }

    .price-strike {
        height: 35px;
    }

    .end-side {
        align-items: flex-end;
    }

    .btn-add a::after {
        width: 54px;
        right: 3px;
        top: 3px;
    }

    .reviews-row {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .reviews-row .start-block {
        margin: 0% 0px 6% 0%;
        font-size: 25px;
        transform: none;
    }

    .reviews-row .standard-block {
        width: 37%;
        margin-left: 0;
    }

    .standard-block .reviews-p1, .reviewers-name {
        font-size: 12px;
        line-height: 23px;
    }

    #standard-block-2, #standard-block-3{
        display: none;
    }

    .standard-block-1::before {
        content: url(../images/reviews-arrow-left.svg);
        position: absolute;
        left: 20%;
    }

    .standard-block-1::after {
        content: url(../images/reviews-arrow-right.svg);
        position: absolute;
        right: 20%;
    }

    .reviews-row .start-block {
        text-align: center;
    }

    .start-block {
        width: 180px;
    }

    .item-img img {
        width: 180px;
    }

    .product-tile {
        margin-bottom: 85px;
    }

    .main-upsell-items {
        padding: 50px 0 0px 0;
    }
}

/* ---------------------------- 541px ------------------------------------ */

@media screen and (max-width:541px) {
   
}


/* ---------------------------- 426px ------------------------------------ */

@media screen and (max-width:426px) {
    .button-add-product a {
        width: 320px;
    }

    .button-add-product a::after {
        width: 325px;
    }

    .benefits::after {
        left: 71%;
    }

    .ingredients::after {
        left: 63%;
    }

    .f-b-results::after {
        left: 51%;
    }

    .btn-add a::after {
        width: 52px;
    }

    .start-block {
        width: 150px;
    }

    .item-img img {
        width: 150px;
    }
}

/* ---------------------------- 415px ------------------------------------ */

@media screen and (max-width:415px) {

}


/* ---------------------------- 376px ------------------------------------ */

@media screen and (max-width:376px)  {
    .more-price-info {
        width: 76%;
    }

    .button-add-product a {
        width: 285px;
    }

    .button-add-product a::after {
        width: 290px;
    }

    .benefits::after {
        left: 67%;
    }

    .ingredients::after {
        left: 58%;
    }

    .f-b-results::after {
        left: 45%;
    }

    .m-s-headline p {
        font-size: 12px;
    }

    .start-side img {
        width: 73px;
    } 
}

/* ---------------------------- 361px ------------------------------------ */

@media screen and (max-width:361px) {

}

/* ---------------------------- 321px ------------------------------------ */

@media screen and (max-width:321px) {
    .benefits::after {
        left: 61%;
    }

    .ingredients::after {
        left: 51%;
    }

    .f-b-results::after {
        left: 35%;
    }

    .btn-add a {
        width: 42px;
        padding: 7px 0px 3px 0px;
    }

    .btn-add a::after {
        width: 44px;
        height: 32px;
    }

    .selectores p {
        font-size: 7px;
    }
}